<!DOCTYPE html>
<html>
<head>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <title>@ViewBag.Title - NewProject</title>
    @*@Html.Partial("_GoogleAnalytics")*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/css/bootstrap.css" rel="stylesheet">*@

    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=BenchNine:400,300,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

    <!-- Template CSS Files  -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link href="~/Scripts/plugins/camera/css/camera.css" rel="stylesheet">
    <link href="~/Scripts/plugins/datepicker/css/datepicker.css" rel="stylesheet">
    <link href="~/Scripts/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
    <link rel="shortcut icon" href="images/fav.png">

	 	@Styles.Render("http://cdn.syncfusion.com/15.4.0.17/js/web/bootstrap-theme/ej.web.all.min.css")
      @Scripts.Render("http://cdn.syncfusion.com/js/assets/external/jsrender.min.js")
      @Scripts.Render("http://cdn.syncfusion.com/15.4.0.17/js/web/ej.web.all.min.js")
      @Scripts.Render("http://cdn.syncfusion.com/15.4.0.17/js/common/ej.unobtrusive.min.js")
</head>

<body>
    <!-- Header Starts -->
    <header class="main-header">

        <!-- Top Bar Starts -->
        <div class="top-bar hidden-xs">
            <div class="container">
                <ul class="list-unstyled list-inline clearfix">
                    <li class="pull-left">Optional Top Header Bar</li>
                    <li class="pull-right">
                        Email : <a href="mailto:info@newproject.com">info@newproject.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Top Bar Starts -->

        <!-- Navbar Starts -->
        <nav id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
            <!-- Container Starts -->
            <div class="container">
                <!-- Navbar Header Starts -->
                <div class="navbar-header">
                    <!-- Collapse Button Starts -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collapse Button Ends -->

                    <!-- Logo Starts -->
                    <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">
                    <img src="@Url.Content("~/Content/images/logo_ph.png")" alt="Logo" style="width:22rem;"></a>
                    @*ToDo: Work this class in: class="img-responsive"*@
                    <!-- Logo Ends -->
                </div>
                <!-- Navbar Header Ends -->

                <!-- Navbar Collapse Starts -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DROPDOWN <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("SUBMENU1", "SubMenu1", "Home")</li>
                                <li>@Html.ActionLink("SUBMENU2", "SubMenu2", "Home")</li>
                                <li>@Html.ActionLink("SUBMENU3", "SubMenu3", "Home")</li>
                            </ul>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            @*@Html.Encode(User.Identity.Name)*@
                            <li>@Html.ActionLink("SIGN OUT", "LogOff", "Account")</li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    SIGN IN
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("SIGN IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                    <li>@Html.ActionLink("REGISTER", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                </ul>
                            </li>
                        }
                        @*<li>@Html.Partial("_LoginPartial")</li>*@
                    </ul>
                </div>
                <!-- Navbar Collapse Ends -->
            </div>
            <!-- Container Ends -->
        </nav>
        <!-- Navbar Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Slider Section Starts -->
    @*<section class="slider clearfix">
        <div id="camera_wrap_1" class="camera_wrap">*@
            <!-- Slide #1 Starts -->
            @*<div data-src="images/slider/slider-img1.jpg">
                <div class="camera_caption fadeFromLeft hidden-xs">
                    <h2>Qualified Staff With</h2>
                    <h2>Expertise in Dential Services</h2>
                </div>
            </div>*@
            <!-- Slide #1 Ends -->
            <!-- Slide #2 Starts -->
            @*<div data-src="images/slider/slider-img2.jpg">
                <div class="camera_caption fadeFromRight hidden-xs">
                    <h2>Heading #2</h2>
                    <h2>Some text goes here...</h2>
                </div>
            </div>*@
            <!-- Slide #2 Ends -->
        @*</div>
    </section>*@
    <!-- Slider Section Ends -->

    <!-- Main Container Starts -->
    <div class="container main-container">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <!-- Main Container Ends -->

    <!-- Footer Starts -->
    <footer class="main-footer">
        <!-- Footer Area Starts -->
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <!-- List1 Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4>Column1</h4>
                        <ul class="list-unstyled footer-links-style-1">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- List1 Ends -->
                    <!-- List2 Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4>Column2</h4>
                        <ul class="list-unstyled footer-links-style-1">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- List2 Ends -->
                    <!-- List3 Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4>Column3</h4>
                        <ul class="list-unstyled footer-links-style-1">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>Lorem Ipsum
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- List3 Ends -->
                    <!-- Info Starts -->
                    <div class="col-md-5 col-xs-12 col-md-offset-1">
                        <h2 class="footer-main-head">New Project</h2>
                        <ul class="list-unstyled footer-links-style-2">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                441 Red Hills Colony Rd, Banjara Hills, CA 60258
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                (123) 456-7890
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@demowebsite.info">info@newproject.com</a>, <a href="mailto:support@demowebsite.info">support@demowebsite.info</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-inline footer-sm-links">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <!-- Dentist clinic Info Ends -->
                </div>
            </div>
        </div>
        <!-- Footer Area Ends -->
        <!-- Copyright Starts -->
        <div class="copyright">
            <div class="container text-center">
                &copy; @DateTime.Now.Year All Rights Reserved <strong>Exponential Innovations Corp</strong>.
            </div>
        </div>
        <!-- Copyright Ends -->
    </footer>
	@Html.EJ().ScriptManager()
    <!-- Footer Ends -->
    <!-- Template JS Files -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/camera/js/jquery.mobile.customized.min.js"></script>
    <script src="~/Scripts/plugins/camera/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/plugins/camera/js/camera.min.js"></script>
    <script src="~/Scripts/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/shuffle/jquery.shuffle.modernizr.min.js"></script>
    <script src="~/Scripts/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Scripts/custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
